{% extends "admin/base.html" %} {% block content %}
<div class="row page-titles">
  <div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">Configure Lectures</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/settings">Settings</a>
      </li>
      <li class="breadcrumb-item active">Lectures</li>
    </ol>
  </div>
</div>
<!-- Row -->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Lectures</h4>
        <div class="table-responsive m-t-20">
          <table class="table stylish-table table-striped">
            <tbody id="lectures"></tbody>
          </table>
          <button
            data-toggle="modal"
            data-target="#modalAddLecture"
            class="btn btn-info"
          >
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block modals %}
<div id="modalAddLecture" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Lecture</h4>
        <button type="button" class="close" data-dismiss="modal">
          ×
        </button>
      </div>
      <div class="modal-body">
        <!-- Day of Week -->
        <form onsubmit="createLecture(event, this)">
          <div class="form-group">
            <label for="exampleInputuname">Day of Week</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-user"></i>
                </span>
              </div>
              <select
                type="text"
                class="form-control"
                id="exampleInputuname"
                placeholder="Username"
                name="day_of_week"
              >
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
              </select>
            </div>
          </div>
          <!-- Start - End -->
          <div class="form-group ">
            <div class="row">
              <div class="col-lg-6">
                <label>Start</label>
                <div
                  class="input-group clockpicker "
                  data-placement="bottom"
                  data-align="top"
                  data-autoclose="true"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="far fa-clock"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    name="start"
                    class="form-control"
                    value="08:00"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <label>End</label>
                <div
                  class="input-group clockpicker "
                  data-placement="bottom"
                  data-align="top"
                  data-autoclose="true"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="far fa-clock"></i
                    ></span>
                  </div>
                  <input
                    name="end"
                    type="text"
                    class="form-control"
                    value="12:00"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- Students Capacity -->
          <div class="form-group ">
            <label for="exampleInputuname">Students Capacity</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <i class="far fa-user"></i>
                </span>
              </div>
              <input
                name="student_capacity"
                type="number"
                value="10"
                class="form-control"
                id="exampleInputuname"
              />
            </div>
          </div>
          <!-- Lecture Name -->
          <div class="form-group ">
            <label for="exampleInputuname">Lecture Name</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-user"></i>
                </span>
              </div>
              <input
                name="lecture_name"
                type="text"
                value="Intermediate"
                class="form-control"
                id="exampleInputuname"
              />
            </div>
          </div>
          <!-- Accent -->
          <div class="form-group">
            <label for="exampleInputuname">Accent Color</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-user"></i>
                </span>
              </div>
              <select
                type="text"
                class="form-control text-info"
                id="exampleInputuname"
                placeholder="Username"
                name="accent_color"
              >
                <option class="text text-info" value="info">Info</option>
                <option class="text text-danger" value="danger">Danger</option>
                <option class="text text-success" value="success"
                  >Success</option
                >
                <option class="text text-warning" value="warning"
                  >Warning</option
                >
                <option class="text text-primary" value="primary"
                  >Primary</option
                >
              </select>
            </div>
          </div>
          <button class="btn btn-info waves-effect" type="submit">
            Add Lecture
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<
<div id="modalEditLecture" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Lecture</h4>
        <button type="button" class="close" data-dismiss="modal">
          ×
        </button>
      </div>
      <div class="modal-body">
        <form onsubmit="updateLecture(event, this)" id="updateForm">
          <input type="hidden" name="id" />
          <div class="form-group">
            <label for="exampleInputuname">Day of Week</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-user"></i>
                </span>
              </div>
              <select
                type="text"
                class="form-control"
                id="exampleInputuname"
                placeholder="Username"
                name="day_of_week"
              >
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday" selected>Sunday</option>
              </select>
            </div>
          </div>
          <!-- Start - End -->
          <div class="form-group ">
            <div class="row">
              <div class="col-lg-6">
                <label>Start</label>
                <div
                  class="input-group clockpicker "
                  data-placement="bottom"
                  data-align="top"
                  data-autoclose="true"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="far fa-clock"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    name="start"
                    class="form-control"
                    value="02:00"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <label>End</label>
                <div
                  class="input-group clockpicker "
                  data-placement="bottom"
                  data-align="top"
                  data-autoclose="true"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="far fa-clock"></i
                    ></span>
                  </div>
                  <input
                    name="end"
                    type="text"
                    class="form-control"
                    value="12:00"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- Students Capacity -->
          <div class="form-group ">
            <label for="exampleInputuname">Students Capacity</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <i class="far fa-user"></i>
                </span>
              </div>
              <input
                name="student_capacity"
                type="number"
                value="100"
                class="form-control"
                id="exampleInputuname"
              />
            </div>
          </div>
          <!-- Lecture Name -->
          <div class="form-group ">
            <label for="exampleInputuname">Lecture Name</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-user"></i>
                </span>
              </div>
              <input
                name="name"
                type="text"
                value="Intermediate"
                class="form-control"
                id="exampleInputuname"
              />
            </div>
          </div>
          <!-- Accent -->
          <div class="form-group">
            <label for="exampleInputuname">Accent Color</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-user"></i>
                </span>
              </div>
              <select
                type="text"
                class="form-control text-info"
                id="exampleInputuname"
                placeholder="Username"
                name="accent_color"
              >
                <option class="text text-info" value="info">Info</option>
                <option class="text text-danger" value="danger">Danger</option>
                <option class="text text-success" value="success"
                  >Success</option
                >
                <option class="text text-warning" value="warning"
                  >Warning</option
                >
                <option class="text text-primary" value="primary"
                  >Primary</option
                >
              </select>
            </div>
          </div>
          <button class="btn btn-primary waves-effect" type="submit">
            Update Lecture
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{%endblock %} {% block scripts %}
<script type="text/template" id="template_lecture">
  <tr>
    <td onclick="openModalUpdateLecture([[id]])">
      [[day_of_week]]
    </td>
    <td onclick="openModalUpdateLecture([[id]])">
     [[start]] - [[end]]
    </td>
    <td onclick="openModalUpdateLecture([[id]])">
      <span class="text text-[[accent_color]]">[[name]]</span>
    </td>
    <td onclick="openModalUpdateLecture([[id]])">
      <span class="text text-info">??</span>/[[student_capacity]]
      <i class="fa fa-user"></i>
    </td>
    <td class="text-right">
      <button class="btn btn-sm btn-inverse waves-effect" onclick="deleteLectureConfirm([[id]])">
        <i class="fa fa-times"></i>
      </button>
    </td>
  </tr>
</script>
<script src="/static/app/views/admin/settings/lectures.js"></script>
<script></script>

{% endblock %}
