{% extends "admin/base.html" %} {% block content %}
<div class="row page-titles">
  <div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">Password</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/settings">Settings</a>
      </li>
      <li class="breadcrumb-item active">Password</li>
    </ol>
  </div>
</div>
<div class="row">
  <!-- Update Password -->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h3>Update Password</h3>
        <form onsubmit="updatePassword(event, this)">
          <div class="form-group">
            <label>Current Password</label>
            <input
              name="password"
              type="password"
              class="form-control form-control-line"
              required
            />
          </div>
          <div class="form-group">
            <label>New Password</label>
            <input
              name="new_password"
              type="password"
              class="form-control form-control-line"
              required
            />
            
          </div>
          <div class="form-group">
            <label>Confirm Password</label>
            <input
              name="new_password_confirm"
              type="password"
              class="form-control form-control-line"
              required
            />
          </div>
          <button class="btn btn-info" type="submit">Update Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="/static/app/views//admin/settings/password.js"></script>
{% endblock %}
